<footer class="Footer-main">
    <div class="f-info">
        <div class="f-info-social">
           <a href="https://www.facebook.com/nitrr.raipur/" class="f-info-links-ig"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/nit_raipur/?hl=en" class="f-info-links-ig"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://in.linkedin.com/school/national-institute-of-technology-raipur/" class="f-info-links-ig"><i class="fa-brands fa-linkedin"></i></a>   
        </div>
        <div class="company-name">
            &copy; CampusBuzz private Limited
        </div>
        <div class="f-info-links">
            <a href="/index/privacy">Privacy</a>
            <a href="/index/terms">Terms</a>
        </div>
    </div>
</footer>