<% layout("/layouts/boilerplate.ejs") %>

 <!-- <div class="row"> -->
    <!-- <div class="home-page"> -->
        <div class="main-index row home-page row-cols-lg-3 rwo-cols-md-3 row-cols-sm-2 ">
    <div class="comp">
        <a class="index-links" href="/index/club">
        <img  src="https://images.unsplash.com/photo-1512427185390-808cfc4d11a8?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <p class="home-comp-text">Club announcements</p>
        </a>
    </div>
    <div class="comp">
        <a class="index-links" href="/index/lostfound">
        <img src="https://plus.unsplash.com/premium_photo-1734388294894-1c98d8ffb7b6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <p class="home-comp-text">Lost-found</p>
        </a>
    </div>
    <div class="comp">
        <a class="index-links" href="/index/cab">
        <img src="https://images.unsplash.com/photo-1781368476939-4b913ebb2972?q=80&w=1022&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <p class="home-comp-text">Cab-shares</p>
        </a>
    </div>
    <div class="comp">
        <a class="index-links" href="/index/secondhand">
        <img src="https://images.unsplash.com/photo-1642543349642-0d04e91511c9?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
       <p class="home-comp-text"> Second-hand</p>
        </a>
    </div>
    <div class="comp">
        <a class="index-links" href="/index/event">
        <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <p class="home-comp-text">Events</p>
        </a>
    </div>
    <div class="comp">
        <a class="index-links" href="/index/complaint">
        <img src="https://plus.unsplash.com/premium_photo-1738663458243-7446dba4551d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <p class="home-comp-text">Complaints</p>
        </a>
    </div>
  </div>
    <!-- </div>
      -->
 <!-- </div> -->
