<% layout("../views/layouts/boilerplate.ejs") %>

<div class="main-complaint-container complaint-div card-good-own">

  
  <div class="card complaint-div" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Terms and Conditions for College Buzz</h5><br>
    <h6 class="card-subtitle mb-2 text-body-secondary">Complete Agreement Statement</h6><br>
    <p class="card-text">These Terms and Conditions govern the use of College Buzz, a student oriented platform designed to provide communication, event updates, academic resources and campus buzz in one place. By accessing or using College Buzz you agree to be bound by these terms. The platform is intended for college students and related academic communities. You must provide accurate information during registration and maintain the confidentiality of your account credentials. You are responsible for all activities that occur under your account. Any misuse of the platform including posting offensive content, spreading false information, attempting unauthorized access or violating applicable laws may result in suspension or termination of your account. College Buzz provides information and services on an “as is” basis without warranties of any kind. We do not guarantee uninterrupted access, error free operation or complete accuracy of content. The platform may include links to external websites and we are not responsible for their content or practices. Intellectual property rights in the platform including logos, designs, and software remain with College Buzz and may not be copied or reproduced without permission. Users may contribute posts, comments and other content but by doing so you grant College Buzz a non exclusive license to use, display and distribute that content within the platform. We reserve the right to remove or edit user content that violates these terms. Limitation of liability applies and College Buzz shall not be held responsible for damages arising from use of the service. These terms may be updated from time to time and continued use of the platform after changes indicates acceptance of the revised terms. If you have questions or concerns regarding these Terms and Conditions you may contact us by email at support@collegebuzz.edu, by phone at +918569425666, or by visiting our office at Nit Raipur ACE. By using College Buzz you acknowledge that you have read, understood and agreed to these Terms and Conditions.</p>
</div>
</div>
  
</div>